.modal-cover{
    position: relative;
}
.modal-mask{
    position: fixed;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 300;
}
.modal-container{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.45);
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 2000;
}
.modal-container .modal{
    position: relative;
    background: #fff;
    width: 50%;
    height: 80%;
    border-radius: 5px;
    margin: 5% auto;
}