.timeLine .timeLineItem{
    position: relative;
    padding-bottom: 20px;
}

.timeLine .timeLineItem .timeLineTail{
    position: absolute;
    height: 100%;
    left: 5px;
    border-left: 2px solid #e4e7ed
}
.timeLine .timeLineItem .timeLineNode{
    position: absolute;
    background-color: #e4e7ed;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
}
.timeLine .timeLineItem .timeLineWrapper{
    padding-left: 20px;
    position: relative;
    top: -3px;
    text-align: left;
}

.timeLine .timeLineItem:last-child .timeLineTail{
    display: none;
}